/* @ variáveis CSS */

:root{
    --primary--base-color: #FF6347;
    --primary--dark1-color: #E5593F;
    --primary--dark2-color: #B24531;
    --primary--dark3-color: #7F3123;
    --primary--light1-color: #FF826B;
    --primary--light2-color: #FFA190;
    --primary--light3-color: #FFC0B5;

    --white-scale-base: #FFFFFF;
    --white-scale-1: #EEEEEE;
    --white-scale-2: #DCDCDC;
    --white-scale-3: #D3D3D3;
    --white-scale-4: #C0C0C0;
    --white-scale-5: #A9A9A9;
    --white-scale-6: #808080;
    --white-scale-7: #696969;

    --black-scale-base: #000000;
    --black-scale-1: #111111;
    --black-scale-2: #1C1C1C;
    --black-scale-3: #2D2D2D;
    --black-scale-4: #3E3E3E;
    --black-scale-5: #4F4F4F;
    --black-scale-6: #555555;
    --black-scale-7: #5F5F5F;

    --gap: 3rem
}

/* @ Elementos  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'noto Sans JP', sans-serif;
    font-size: 2rem;
    color: var(--black-scale-base);
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'girassol', sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Noto Sans JP', sans-serif ;
    margin-bottom: .5rem;
}
ul li{
    list-style: none;
}


/* @ menu  */

.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.2rem solid var(--primary--dark1-color);
    z-index: 1;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--primary--light2-color);
}
.menu{
    background: var(--primary--light2-color);
}
.menu-content .logo{
    display: flex;
}
.menu h1{
    font-size: 4rem;
    color: var(--primary--dark3-color);
    display: block;
    position: relative;
    padding: 0.5rem;
}
.menu h1 a{
    color: inherit;
    display: block;
    position: relative;
}
.mandarim{
    font-family: 'ma shan zheng';
}
.menu ul{
    display: flex;
}
.menu ul li{
    align-items: center;
    justify-content: center;
}
.menu ul li a{
    display: block;
    padding: .5rem;
    font-size: 2.5rem;
    color: var(--primary--light2-color);
    width: 20rem;
}
.nhac::after{
    content: 'Nhac! Nhac!';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    transition: all 300ms ease-in-out;
    text-align: center;
    color: var(--primary--dark2-color);
}
.nhac:hover::after{
    content: '嗦嗦! 嗦嗦!';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);    
    text-align: center;
}
.salgados::after{
    content: 'Pratos salgados';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    width: 20rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    color: var(--primary--dark2-color);
}
.salgados:hover::after{
    content: '咸菜';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    text-align: center;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);
    text-align: center;

}
.doces::after{
    content: 'Pratos Doces';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    width: 20rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    color: var(--primary--dark2-color);
}
.doces:hover::after{
    content: '甜菜';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    text-align: center;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);
}
.enviar::after{
    content: 'Enviar prato';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    width: 20rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    color: var(--primary--dark2-color);
}
.enviar:hover::after{
    content: '送菜';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);
    text-align: center;
}
.sustein{
    max-width: 100%;
}
/* @ Variáveis */
.menu-spacing{
    height: 6.5rem;
}
.section{
    min-height: 100vh;
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.main-bg{
    background-color: var(--primary--light3-color);
}
.secondary-bg{
    background-color: var(--white-scale-1);
}

/* @ intro-main section */

.intro{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: var(--gap);
}
.intro-tittle, .intro-img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;  
}
.intro-text-content h2{
    font-size: 5rem;
}
.intro-img img{
    margin-top: 10rem;
    width: 100%;
}
.nhac-tittle{
    margin-top: 16rem;
    font-family: monoton, sans-serif;
    transform: rotate(-10deg);
    margin-left: -20rem;
    color: var(--primary--base-color);

}
.intro-tittle  h2 + h2{
    margin-top: -8rem;
    margin-left: 25rem;
}
.intro-tittle .mandarim{
    font-size: 8rem;
    margin-left: -20rem;
    margin-top: -4rem;
    transform: rotate(-10deg);
    color: var(--primary--dark1-color);
}
.intro-tittle .mandarim + .mandarim{
    margin-top: -8rem;
    margin-left: 25rem;
}
.intro p{
    margin-top: 5rem;
    margin-left: 5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--primary--light1-color);
}

/* @ intro-main section */

.intro2-tittle{
    text-align: center;
    width: 100%;
    margin: 7rem 0 1rem 0;
    color: var(--primary--dark1-color);
}
.intro2-tittle::before{
    content: 'Que delícia! |';
    font-family: girassol;
    margin-left: -18rem;
    color: var(--primary--dark1-color);
}

.intro .intro2-p{
    margin-top: -3rem;
}
.intro .intro2-p + .intro2-p{
    margin-top: 2.5rem;
}
.intro-img2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem; 
}
.intro-img2 img{
    margin-top: 10rem;
    width: 100%;
}
.intro .intro-img2 p{
    margin-top: -13rem;
    margin-bottom: -5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--primary--light1-color);
}


/* @ pratos salgados*/

.salgados-sec h2, .doces-sec h2{
    color: var(--primary--dark2-color);
    font-size: 4rem;
    text-align: center;
    margin-top: 1rem;
}
.salgados-sec h3, .doces-sec h3{
    color: var(--primary--dark2-color);
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.salgados-sec h3 a, .doces-sec h3 a{
    color: inherit;
}
.salgados-sec h3 a:hover, .doces-sec h3 a:hover{
    color: var(--primary--base-color);
    font-size: 2.05rem;
}

.grid-salgados, .grid-doces{
    display: grid;
    gap: var(--gap);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1.4fr;
    grid-template-areas: 
    'card1 card2 card3 card4'
    'card5 card5 card5 card5'
    ;
}
.grid-salgados .um, .grid-doces .um{
    grid-area: card1;
}
.grid-salgados .dois, .grid-doces .dois{
    grid-area: card2;
}
.grid-salgados .tres, .grid-doces .tres{
    grid-area: card3;
}
.grid-salgados .quatro, .grid-doces .quatro{
    grid-area: card4;
}
.grid-salgados .cinco, .grid-doces .cinco{
    grid-area: card5;
} 

.card-prato{
    background: var(--white-scale-base);
}
.card-prato .img-salgados,.card-prato .img-doces {
    width: 100%;
    max-width: 26rem;
    overflow: hidden;

}

.card-prato img{
    max-height: 20rem;
    transition: all 300ms ease-in-out;
}
.card-prato img:hover{
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}

.card-prato .descricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-prato .descricao p{
    text-align: center;
    margin: 0 1rem;
    color: var(--white-scale-2);
}
.card-prato .descricao p::first-letter{
    color: var(--black-scale-1);
}
.cinco{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--white-scale-base);
}
.cinco .img-salgados, .cinco .img-doces{
    max-width: 50rem;
    overflow: hidden;
    align-items: center;
}
.cinco img{
    height: 100%;
    transition: all 300ms ease-in-out;
}
.cinco img:hover{
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}
.cinco .descricao{
    padding: 2rem;
}
.cinco .descricao > div{
    display: flex;
    margin-left: 2rem;
}
.cinco .descricao > div p{
    margin: 2rem;
    color: var(--white-scale-2);
}
.cinco .descricao p::first-letter{
    color: var(--black-scale-1);
}
.cinco .descricao h3{
    font-size: 4rem;
}
.salgados-sec .cinco h3 a:hover, .doces-sec .cinco h3 a:hover{
    color: var(--primary--base-color);
    font-size: 4.05rem;
}
.cinco .descricao p{
    text-align: center;
    color: var(--black-scale-2);
}
.card-prato, .cinco{
    border: 1px solid var(--primary--light3-color);
    box-shadow: 2px 2px 5px 1px var(--primary--light1-color);
}

/* @ pratos doces*/

.grid-doces{
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'card1 card5 card5 card3'
    'card2 card5 card5 card4'
    ;
}
.grid-doces .cinco{
    display: grid;
    grid-template-columns: 1fr;
    background: var(--white-scale-base);
    
}
.grid-doces .cinco .img-doces{
    max-height: 35rem;
    max-width: 60rem;
}
.grid-doces .cinco img{
    height: 35rem;
    max-width: 60rem;

    margin-bottom: -5rem;
    transition: all 300ms ease-in-out;
}

.grid-doces .cinco .descricao  h3{
    margin-top: -3rem;
    margin-bottom: -1rem;
}

/* @ formulário de novo prato */

.descrisao-form h2{
    color: var(--primary--dark2-color);
    margin-bottom: 2rem;
}
.descrisao-form p{
    color: var(--primary--dark2-color);
    line-height: 3rem;
}
.descrisao-form .mandarim{
    color: var(--primary--dark3-color);
    line-height: 6rem;
    font-size: 5rem;
    text-align: right;
    margin-top: 5rem;
    margin-right: 15rem;
    text-shadow: 0.3rem 0.3rem 0.08rem var(--primary--base-color)
}
.content-form{
    grid-column: span 2;
    margin-top: 5rem;
}

.content-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend{
    font-style: italic;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: var(--primary--dark2-color);
}

.form-group label{
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: block;
    color: var(--primary--dark2-color);
}
.form-group{
    flex: 1 1 480px;
}
.form-group #time{
    width: 20rem;
    margin-left: 1rem;
}
.form-group input, 
.form-group textarea  {
    border: none;
    border-radius: 2rem;
    background: var(--primary--light2-color)    ;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
    
}
.form-group input:focus, 
.form-group textarea:focus  {
    box-shadow: 0 0 25px 2px var(--primary--base-color);
}
.form-group ::placeholder{
    color: var(--primary--dark3-color);;
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}
.full-width .align{
    width: 20rem;
    margin: 0    auto;

}
.form-group button{
    margin-left: 2rem;
    height: 8rem;
    width: 16rem;
    text-align: center;
    border: 0.3rem solid var(--primary--light2-color) ;
    border-radius: 2rem;
    background: none;
    color: var(--primary--dark1-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    font-weight: bold;
    border: 0.5rem solid var(--primary--dark1-color);
    background: var(--primary--base-color) ;
    color: var(--primary--light2-color);
    box-shadow: 2px 2px 10px 5px var(--primary--light1-color);
}

/* @ Footer */
.footer{
    text-align: center;
    font-size: 1.6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary--light2-color);
}
.footer a{
    color: var(--primary--base-color);
    cursor: pointer;
}
.footer a:hover{
    font-size: 1.65rem;
    font-weight: bold;
}
.close-menu{
    display: none;
}
.back-to-top{
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    background: var(--primary--dark2-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary--light3-color);
    font-weight: bold;
    border: 0.1rem solid var(--primary-color);
}
/* @Media */
@media(max-width: 980px){
    .intro {
        grid-template-columns: 1fr;
    }
    .grid-salgados, .grid-doces{
        grid-template-areas: 
        'card1 card2 '
        'card3 card4'
        'card5 card5'
        ;
    }
    .img-salgados, .img-doces{
        margin: 0 auto;
    }
    .cinco{
        grid-template-columns: 1fr;
    }

    .menu{
        display: none;
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    .menu-content{
        height: 100vh;
    }
    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }
    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    .close-menu:checked~.menu{
        display: block; 
    }
    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-content ul li a{
        color: var(--primary--light2-color);
    }

    .nhac::after{
        margin-left: -72px;
        color: var(--primary--dark2-color);
    }
    .nhac:hover::after{
        content: 'Nhac! Nhac!';
        font-family: 'Noto Sans JP ', sans-serif;
        font-size: 2.5rem;
    }
    .salgados::after{
        margin-left: -108px;
        color: var(--primary--dark2-color);
    }
    .salgados:hover::after{
        content: 'Pratos salgados';
        font-family: 'Noto Sans JP ', sans-serif;
        font-size: 2.5rem;
    }
    .doces::after{
        margin-left: -104px;
        color: var(--primary--dark2-color);
    }
    .doces:hover::after{
        content: 'Pratos Doces';
        font-family: 'Noto Sans JP ', sans-serif;
        font-size: 2.5rem;
        
    }
    .enviar::after{
        margin-left: -104px;
        color: var(--primary--dark2-color);
    }
    .enviar:hover::after{
        content: 'Enviar prato';
        font-family: 'Noto Sans JP ', sans-serif;
        font-size: 2.5rem;
    }
    .cinco .img-doces{
        max-height: 35rem;
        max-width: 60rem;
    }
    .cinco img{
        height: 35rem;
        width: 50rem;
    
        margin-bottom: -5rem;
        transition: all 300ms ease-in-out;
    }
}

@media(max-width: 600px){

    .intro-img img{
        margin-top: 1rem;
        width: 100%;
    }
    .nhac-tittle{
        margin-top: 1rem;
        font-family: monoton, sans-serif;
        transform: rotate(-10deg);
        margin-left: -15rem;
        color: var(--primary--base-color);
        font-size: 3rem;
    
    }
    .intro-tittle  h2 + h2{
        margin-top: -8rem;
        margin-left: 15rem;
    }
    .intro-tittle .mandarim{
        font-size: 4rem;
        margin-left: -12rem;
        margin-top: -4rem;
        transform: rotate(-10deg);
        color: var(--primary--dark1-color);
    }
    .intro-tittle .mandarim + .mandarim{
        margin-top: -6rem;
        margin-left: 10rem;
    }

    .grid-salgados, .grid-doces{
        grid-template-areas: 
        'card1' 
        'card2 '
        'card3'
        'card4'
        'card5'
        ;
    }
.cinco .img-salgados,.cinco .img-doces {
    width: 100%;
    max-width: 26rem;
    overflow: hidden;

}
.cinco img{
    max-height: 20rem;
    transition: all 300ms ease-in-out;
}
}