/* # variáveis CSS */

:root{
    --primary--base-color: #FF6347;
    --primary--dark1-color: #E5593F;
    --primary--dark2-color: #B24531;
    --primary--dark3-color: #7F3123;
    --primary--light1-color: #FF826B;
    --primary--light2-color: #FFA190;
    --primary--light3-color: #FFC0B5;

    --white-scale-base: #FFFFFF;
    --white-scale-1: #EEEEEE;
    --white-scale-2: #DCDCDC;
    --white-scale-3: #D3D3D3;
    --white-scale-4: #C0C0C0;
    --white-scale-5: #A9A9A9;
    --white-scale-6: #808080;
    --white-scale-7: #696969;

    --black-scale-base: #000000;
    --black-scale-1: #111111;
    --black-scale-2: #1C1C1C;
    --black-scale-3: #2D2D2D;
    --black-scale-4: #3E3E3E;
    --black-scale-5: #4F4F4F;
    --black-scale-6: #555555;
    --black-scale-7: #5F5F5F;

    --gap: 3rem
}
/* # Elementos  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'noto Sans JP', sans-serif;
    font-size: 2rem;
    color: var(--black-scale-base);
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'girassol', sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Noto Sans JP', sans-serif ;
    margin-bottom: .5rem;
}
ul li{
    list-style: none;
}
.menu-spacing{
    height: 6.5rem;
}
/* # menu  */
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.2rem solid var(--primary--dark1-color);
    z-index: 1;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--primary--light2-color);
}
.menu{
    background: var(--primary--light2-color);
}
.menu-content .logo{
    display: flex;
}
.menu h1{
    font-size: 4rem;
    color: var(--primary--dark3-color);
    display: block;
    position: relative;
    padding: 0.5rem;
}
.menu h1 a{
    color: inherit;
    display: block;
    position: relative;
}
.mandarim{
    font-family: 'ma shan zheng';
}
.menu ul{
    display: flex;
}
.menu ul li{
    align-items: center;
    justify-content: center;
}
.menu ul li a{
    display: block;
    padding: .5rem;
    font-size: 2.5rem;
    color: var(--primary--dark2-color);
    width: 20rem;
}
.nhac::after{
    content: 'Nhac! Nhac!';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    transition: all 300ms ease-in-out;
    text-align: center;
}
.nhac:hover::after{
    content: '嗦嗦! 嗦嗦!';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);    
    text-align: center;
}
.salgados::after{
    content: 'Pratos salgados';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    width: 20rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.salgados:hover::after{
    content: '咸菜';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    text-align: center;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);
    text-align: center;

}
.doces::after{
    content: 'Pratos Doces';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    width: 20rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    
}
.doces:hover::after{
    content: '甜菜';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    text-align: center;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);
}
.enviar::after{
    content: 'Enviar prato';
    font-family: 'Noto Sans JP ', sans-serif;
    position: absolute;
    width: 20rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    
}
.enviar:hover::after{
    content: '送菜';
    font-family: 'ma shan zheng';
    font-size: 3.5rem;
    box-shadow: 0 20px 25px -15px var(--primary--base-color);
    text-align: center;
}

/* # Variáveis */
.section{
    min-height: 100vh;
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.main-bg{
    background-color: var(--primary--light3-color);
}
.secondary-bg{
    background-color: var(--white-scale-2);
}

/* # intro section */
.intro{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: var(--gap);
}
.intro-tittle, .intro-img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.intro-text-content h2{
    font-size: 5rem;
}
.intro-img img{
    margin-top: 10rem;
    width: 100%;
}
.nhac-tittle{
    margin-top: 16rem;
    font-family: monoton, sans-serif;
    transform: rotate(-10deg);
    margin-left: -20rem;
    color: var(--primary--base-color);

}
.intro-tittle  h2 + h2{
    margin-top: -8rem;
    margin-left: 25rem;
}
.intro-tittle .mandarim{
    font-size: 8rem;
    margin-left: -20rem;
    margin-top: -4rem;
    transform: rotate(-10deg);
    color: var(--primary--dark1-color);
}
.intro-tittle .mandarim + .mandarim{
    margin-top: -8rem;
    margin-left: 25rem;
}
.intro p{
    margin-top: 5rem;
    margin-left: 5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--primary--light1-color);
}


