/* # variáveis CSS */

:root{
    --primary--base-color: #FF6347;
    --primary--dark1-color: #E5593F;
    --primary--dark2-color: #B24531;
    --primary--dark3-color: #7F3123;
    --primary--light1-color: #FF826B;
    --primary--light2-color: #FFA190;
    --primary--light3-color: #FFC0B5;

    --white-scale-base: #FFFFFF;
    --white-scale-1: #EEEEEE;
    --white-scale-2: #DCDCDC;
    --white-scale-3: #D3D3D3;
    --white-scale-4: #C0C0C0;
    --white-scale-5: #A9A9A9;
    --white-scale-6: #808080;
    --white-scale-7: #696969;

    --black-scale-base: #000000;
    --black-scale-1: #111111;
    --black-scale-2: #1C1C1C;
    --black-scale-3: #2D2D2D;
    --black-scale-4: #3E3E3E;
    --black-scale-5: #4F4F4F;
    --black-scale-6: #555555;
    --black-scale-7: #5F5F5F;

    --gap: 3rem
}
/* # Elementos  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'noto Sans JP', sans-serif;
    font-size: 2rem;
    color: var(--black-scale-base);
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'girassol', sans-serif;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: .5rem;
}
